{% extends "maleteo.html.twig" %}

{% block hero %}

<h1>Deja tu comentario</h1>

{% endblock %}

{% block comoFunciona %}

<div class="formularioComentario">
    {{ form_start(formularioComentario) }}
    {{ form_widget(formularioComentario) }}
    <button type="submit">Enviar</button>
    {{ form_end(formularioComentario) }}
</div>

{% endblock %}

{% block opiniones %}

{% endblock %}

{% block mapa %}

{% endblock %}