{% extends 'maleteo.html.twig'%}



{% block formularioDemo %}

<div class="formulario">


    {{ form_start(formulario) }}
    <div>
        <h4>Solicita una demo!</h4>
    </div>
    {{form_widget(formulario)}}

    <div class="noFlex">
        <input type="checkbox" name="Politica Privacidad" id="privacidad" required>
        <label for="privacidad">He leido y acepto la política de privacidad</label>
    </div>
    <button type="submit"> Enviar </button>
    {{ form_end(formulario) }}
</div>
{% endblock %}

{% block opiniones %}
<section class="opiniones">

    <h2>Opiniones de otros guardianes</h2>
    <div class="quotes">
        {% for comentario in comentarios %}
        <div class="box">
            <blockquote class="textLarge">
                {{comentario.comentario}}
            </blockquote>
            <footer>
                <p class="textSmallBold">{{comentario.nombre}}</p>
                <p class="lugarQuote">{{comentario.lugar}}</p>
            </footer>
        </div>
        {% endfor %}
        <!--Caja quote 1 Izquierda-->

    </div>
    <a href="http://localhost:8080/comentario"><button>Quiero dejar mi comentario!</button></a>
</section>
{% endblock %}