<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        {% block body %}<h1>Mi primera plantilla de twig</h1>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
