<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <!--Fin reset-->
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
    <!-- CSS Propio -->
    <link rel="stylesheet" href="http://localhost:8080/styles/styles.css">
    <title>Ser guardian</title>
</head>

<body>



    <body>

        <main>
            <!---------------------------div que enmarca toda la pagina a modo de margen------------------------- -->
            <div class="appFlex">
                <div class="contenedorP">
                    <!--------------------------------------Inicio del Header-------------------------------------- -->
                    {% block encabezado %}
                    <header>

                        <a href="http://localhost:8080"><img src="http://localhost:8080/images/logo.svg" alt="Logotipo de Maleteo"></a>
                        {% block hero %}
                        <div class="imagenTitulo">
                            <div class="cajaTransparente">
                                <div class="marco">
                                    <h1>
                                        Gana dinero guardando equipaje a viajeros como tu
                                    </h1>
                                    <div class="appStores">
                                        <img src="images/app-store.svg" width="45%"
                                            alt="botón con imagen del logotipo de la app store de apple">
                                        <img src="images/google-play.svg" width="45%"
                                            alt="botón con imagen del logotipo de la google play store">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </header>
                    {% endblock %}

                    <!----------------------------------------Inicio Section comoFunciona--------------------------- -->
                    {% block comoFunciona %}
                    <section class="comoFunciona">

                        <h2>¿Cómo funciona?</h2>
                        <div class="pasos">

                            <!--Caja paso 1 Izquierda-->
                            <div class="box">

                                <div class="circulo">

                                    <p class="numCirculo">1</p>
                                </div>

                                <div class="textBox">

                                    <h3>Date de alta</h3>
                                    <p class="textLarge">Una olla de algo más vaca que carnero, salpicón las más noches,
                                        duelos y quebrantos
                                        los
                                        sabados-</p>

                                </div>
                            </div>
                            <!--Caja paso 2 Centro-->
                            <div class="box">

                                <div class="circulo">

                                    <p class="numCirculo">2</p>
                                </div>

                                <div class="textoBox">

                                    <h3>Publica tus espacios, horarios y tarifas</h3>
                                    <p class="textLarge">En un lugar de la Mancha, de cuyo nombr eno quiero acordarme,
                                        no ha mucho tiempo.</p>

                                </div>
                            </div>

                            <!--Caja paso 3 Derecha-->
                            <div class="box">

                                <div class="circulo">

                                    <p class="numCirculo">3</p>
                                </div>

                                <div class="textoBox">

                                    <h3>Recibe viajeros y gana dinero</h3>
                                    <p class="textLarge">No ha mucho tiempo que vivía un hidalgo de los de lanza en
                                        astillero.</p>

                                </div>

                            </div>

                        </div>

                        <div class="telefonoFormulario">

                            <div class="imagenTelefono">
                                <img src="images/iPhoneX.png"
                                    alt="Imagen de un iphoneX con la app Maleteo funcionando.">
                            </div>

                            {% block formularioDemo %}

                            <div class="the-form" id="padreFormulario">

                                <div class="boxValidation" id="dForm">

                                    <p class="textLargeBold">¡Gracias!</p>
                                    <p class="textLarge">Tu Formulario ha sido enviado correctamente, <br> pronto serás
                                        un guardian de maleteo</p>

                                </div>

                                <div class="formulario" id="divForm">

                                    <form action="https://httpbin.org/post" name="formSdemo" id="datosFormulario"
                                        method="POST">
                                        <h3 class="textLargeBold">Solicita una demo</h3>
                                        <div>
                                            <label for="nombre">Nombre</label>
                                            <input type="text" name="Nombre" id="nombre" placeholder="Vincent Chanse">
                                        </div>
                                        <div>
                                            <label for="email">Email</label>
                                            <input type="email" name="Email" id="email" placeholder="vicente@mga.com">
                                        </div>
                                        <div>
                                            <label for="hpreferido">Horario preferido</label>
                                            <select name="Horario preferido" id="hpreferido">
                                                <option value="Mañana">Mañana</option>
                                                <option value="Tarde">Tarde</option>
                                                <option value="Noche">Noche</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="ciudad">Ciudad</label>
                                            <select name="Ciudad" id="ciudad">
                                                <option value="Madrid">Madrid</option>
                                                <option value="Barcelona">Barcelona</option>
                                                <option value="Bilbao">Bilbao</option>
                                                <option value="Sevilla">Sevilla</option>
                                                <option value="Salamanca">Salamanca</option>
                                            </select>
                                        </div>
                                        <div class="noFlex">
                                            <input type="checkbox" name="Politica Privacidad" id="privacidad" required>
                                            <label for="privacidad">He leido y acepto la política de privacidad</label>
                                        </div>
                                        <div class="noFlex">
                                            <button type="submit">Enviar</button>
                                        </div>

                                    </form>

                                </div>


                            </div>
                            {% endblock %}

                        </div>

                    </section>
                    {% endblock %}
                    <!-- ------------------------------------Inicio section opiniones--------------------------------------------------- -->
                    {% block opiniones %}
                    <section class="opiniones">

                        <h2>Opiniones de otros guardianes</h2>
                        <div class="quotes">
                            <!--Caja quote 1 Izquierda-->
                            <div class="box">

                                <blockquote class="textLarge">
                                    Tras el enorme éxito internacional de su primera colaboración, "Bailar", que ganó su
                                    galardon en los Premios.
                                </blockquote>
                                <footer>
                                    <p class="textSmallBold">Sergio Garnacho</p>
                                    <p class="lugarQuote">Tetuán Madrid</p>
                                </footer>
                            </div>
                            <!--Caja quote 2 Centro-->

                            <div class="box">

                                <blockquote class="textLarge">
                                    Tras el enorme éxito internacional de su primera colaboración, "Bailar", que ganó su
                                    galardon en los Premios.
                                </blockquote>
                                <footer>
                                    <p class="textSmallBold">Sergio Garnacho</p>
                                    <p class="lugarQuote">Tetuán Madrid</p>
                                </footer>
                            </div>

                            <!--Caja quote 3 Derecha-->
                            <div class="box">

                                <blockquote class="textLarge">
                                    Tras el enorme éxito internacional de su primera colaboración, "Bailar", que ganó su
                                    galardon en los Premios.
                                </blockquote>
                                <footer>
                                    <p class="textSmallBold">Sergio Garnacho</p>
                                    <p class="lugarQuote">Tetuán Madrid</p>
                                </footer>
                            </div>

                        </div>
                    </section>
                    {% endblock %}
                    <!-- -----------------------------------------Inicio section mapa-------------------------------------------------- -->
                    {% block mapa %}
                    <section class="mapa">

                        <h2>Guardianes cerca tuyo</h2>

                        <div class="gmaps">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2480.113747084246!2d-3.692324991343281!3d40.45778069872907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1569665952829!5m2!1ses!2ses"
                                width="100%" height="100%" frameborder="0" style="border:0;"
                                allowfullscreen=""></iframe>
                        </div>
                    </section>
                    {% endblock %}
                </div>
            </div>
        </main>
        {% block pieDePagina %}
        <footer class="principal">
            <div class="logoFooter">
                <svg width="217" height="40" viewBox="0 0 217 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M79.7195 24.3522L84.0588 18.2414V31.6237H88.5348V8.4095H85.8355L78.6945 19.129L70.8359 8.4095H68.0342V31.6237H72.4418V17.4562L78.0111 24.5912L79.7195 24.3522Z"
                        fill="#ffffff" />
                    <path
                        d="M100.819 8.4095L91.7647 31.6237H96.2065L98.2566 26.1616H107.072L109.156 31.9651L113.598 31.3506L104.578 8.4095H100.819ZM105.705 22.577H99.5549L102.596 14.4862L105.705 22.577Z"
                        fill="#ffffff" />
                    <path d="M131.508 28.1757H121.258V8.4095H116.85V31.6237H132.191L131.508 28.1757Z" fill="#ffffff" />
                    <path
                        d="M151.699 31.6237L150.982 28.1757H139.843V21.6553H148.146L147.428 18.139H139.843V11.8916H149.991L149.307 8.4095H135.435V31.6237H151.699Z"
                        fill="#ffffff" />
                    <path d="M171.518 8.4095H152.726V11.8916H159.799V31.6237H164.275V11.8916H172.236L171.518 8.4095Z"
                        fill="#ffffff" />
                    <path
                        d="M191.739 31.6237L191.022 28.1757H179.883V21.6553H188.186L187.468 18.139H179.883V11.8916H190.031L189.348 8.4095H175.476V31.6237H191.739Z"
                        fill="#ffffff" />
                    <path
                        d="M204.998 7.86328C202.766 7.9088 200.784 8.45502 199.053 9.50193C197.322 10.5488 195.978 11.994 195.021 13.8375C194.087 15.681 193.62 17.7748 193.62 20.119C193.62 22.3722 194.065 24.4091 194.953 26.2298C195.864 28.0278 197.174 29.4616 198.882 30.5313C200.613 31.5782 202.652 32.1017 204.998 32.1017C207.253 32.0561 209.235 31.5213 210.943 30.4972C212.675 29.4502 214.019 28.0164 214.975 26.1957C215.932 24.3522 216.41 22.247 216.41 19.8801C216.41 17.6269 215.955 15.59 215.044 13.7693C214.155 11.9485 212.845 10.5147 211.114 9.46779C209.383 8.39812 207.344 7.86328 204.998 7.86328ZM198.233 20.0849C198.233 18.4007 198.541 16.9214 199.156 15.6469C199.793 14.3496 200.625 13.3596 201.65 12.6768C202.698 11.9713 203.837 11.6185 205.067 11.6185C206.411 11.6185 207.595 11.9713 208.62 12.6768C209.645 13.3823 210.431 14.361 210.978 15.6127C211.524 16.8645 211.798 18.2869 211.798 19.8801C211.798 21.7235 211.49 23.2939 210.875 24.5912C210.283 25.8657 209.463 26.8216 208.415 27.4588C207.39 28.0733 206.24 28.3806 204.964 28.3806C203.597 28.3806 202.402 28.0392 201.376 27.3564C200.374 26.6509 199.6 25.6722 199.053 24.4205C198.506 23.146 198.233 21.7008 198.233 20.0849Z"
                        fill="#ffffff" />
                    <path
                        d="M50.0425 6.18086C46.7743 5.54873 43.7521 5.23266 41.0461 5.23266C37.9536 5.23266 35.2477 5.65408 32.9283 6.46181C32.9283 3.72256 32.7877 2.21247 31.628 1.15891C30.5035 0.0702371 28.7112 0 26.7784 0C26.6378 0 26.4972 0 26.3918 0C26.2864 0 26.2161 0 26.1107 0C24.0021 0 22.7019 0.351185 21.8233 1.15891C20.7339 2.17735 20.7339 3.51185 20.7691 4.95171C20.7691 5.19754 20.7691 5.44337 20.7691 5.72432C20.7691 5.93503 20.7691 6.21598 20.7691 6.56716C18.9768 5.93503 16.9386 5.51361 14.6543 5.33802C14.1272 5.26778 13.4946 5.26778 12.8269 5.26778C10.2615 5.26778 6.60674 5.54873 1.68683 6.14574L0 6.35645V39.8244L1.86254 39.8595C3.44394 39.8946 4.91991 39.8946 6.36074 39.8946C11.8078 39.8946 16.1303 39.6488 19.1525 39.1572C22.5262 38.6304 25.0213 38.0334 26.8135 37.3661C28.9572 38.2792 31.382 38.9816 34.0528 39.4732C36.0208 39.8244 38.797 40 42.5572 40C44.6306 40 47.0906 39.9298 49.7965 39.8244L51.6239 39.7542V6.46181L50.0425 6.18086ZM23.8616 5.72432C23.8616 5.44337 23.8616 5.16242 23.8616 4.91659C23.8616 4.21422 23.8264 3.33626 24.0373 3.16067C24.1076 3.09043 24.459 2.8446 26.1458 2.8446C26.2512 2.8446 26.3918 2.8446 26.4972 2.8446C26.6027 2.8446 26.7081 2.8446 26.8135 2.8446C27.3758 2.8446 29.1329 2.8446 29.4843 3.16067C29.8709 3.51185 29.8709 5.51361 29.8358 7.86655C29.8358 7.90167 29.8358 7.90167 29.8358 7.93679C28.6761 8.63916 27.6569 9.44688 26.7784 10.4302C25.935 9.51712 24.951 8.70939 23.8264 8.00702C23.8616 7.12906 23.8616 6.21598 23.8616 5.72432ZM47.7934 36.137C45.8958 36.2072 44.1386 36.2423 42.5572 36.2423C39.043 36.2423 36.4073 36.1018 34.6854 35.7858C32.0146 35.2941 29.6249 34.5917 27.6218 33.6435L26.8135 33.2572L26.0053 33.6084C24.5644 34.2406 22.0342 34.8727 18.4848 35.4346C15.6734 35.8911 11.5618 36.1018 6.3256 36.1018C5.51733 36.1018 4.63877 36.1018 3.76022 36.1018V9.72783C7.66101 9.27129 10.6832 9.06058 12.7566 9.06058C13.3189 9.06058 13.846 9.06058 14.2677 9.0957C18.8362 9.44688 22.1747 10.8516 24.1076 13.1694C24.1779 13.2748 24.2833 13.3802 25.3727 14.4688L26.7432 15.8385L28.0786 14.4337C29.0275 13.4504 29.1681 13.2748 29.2735 13.1694C31.628 10.3951 35.5639 8.95522 40.9056 8.95522C42.9438 8.95522 45.2281 9.16593 47.6529 9.55224V36.137H47.7934Z"
                        fill="#ffffff" />
                </svg>
            </div>
            <p>Hecho con <img src="http://localhost:8080/images/heart-solid.svg" alt=""> en Madrid</p>
        </footer>
        {% endblock %}

    </body>

    {% block javascripts %}
    <script src="http://localhost:8080/scripts/script.js"></script>
    {% endblock %}





</body>

</html>