/**************************************IMPORTS********************************/

@import "variables";
@import "types";

/**********************************Ajustes globales*****************************/

body {
  font-family: "Catamaran", sans-serif;
  color: $gray5; //Color de texto de todos los parrafos.
  font-size: $text;
}
.appFlex {
  display: flex;
  justify-content: center;
}

/*********************************Empieza la pagina****************************/

.contenedorP {
  text-align: center;
  max-width: 85%;
}

/**************************************HEADER**********************************/

header {
  img {
    margin: 2em 0; //Margen del logo
  }
}

div.imagenTitulo {
  background-image: url(../images/jumbo.jpg);
  background-size: cover;

  div.cajaTransparente {
    width: 50%;
    background-color: $transparency2;
    //Aplicar flex al contenedor gris
    display: flex;
    flex-direction: column;
    align-items: center;
    .marco {
      width: 80%;
      h1 {
        margin: 2em 0 0.2em 0;
        color: $white;
      }
    }
  }
}

div.appStores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2em 0 6em 0;
}

/***************************************Section "Como funciona"************************************/

//Circulos iconocos, con degradado y numero posicionado

.circulo {
  position: relative;
  width: 45px; //Tamaño del circulo
  height: 45px;
  background: linear-gradient(180deg, $primary1, $primary3);
  border-radius: 50%;
  margin-bottom: 1em;
  .numCirculo {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 15px;
    bottom: -22px;
  }
}
//Section como funciona
section.comoFunciona {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 1em;
  }

  div.pasos {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    div.box {
      width: 33%; //Relacion al padre
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3 {
        margin-bottom: 0.5em;
      }
      p {
        max-width: 90%; //Contener al parrafo.
      }
    }
  }
  //Formulario

  div.telefonoFormulario {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    // div.imagenTelefono {
    //   //display: inline-block;
    //   //text-align: center;
    //   //width: 40%;
    // }

    div.formulario {
      //display:inline-block;
      text-align: initial;
      width: 35%;
      padding: 1.5em 1em;
      //border: 1px solid $gray1; //Borde externo del formulario
      form {
        padding: 1em;
        border: 1px solid $gray1;
        height: 100%;
        min-width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: $textLarge;
        }
        div {
          display: flex;
          flex-direction: column;
          label {
            margin-top: 2em;
            margin-bottom: 0.3em;
          }
          input {
            padding: 0.5em 0.3em;
          }
          select {
            color: $gray5;
            background-color: $white; //Ajuste de color en el select
            padding: 0.5em 0.3em;
          }
        }
        div.noFlex {
          margin-top: 1em;
          display: inline-block;

          //Para input privacidad
          label {
            margin-left: 0.2em;
            display: inline;
          }
        }
      }
    }
  }
}
//Boton submit
button {
  color: $white;
  font-size: $text;
  background-color: $primary2;
  padding: 0.7em 1.2em;
  border-radius: 5%;
  border: none;
  border-color: $primary2;
}

//Validación

.boxValidation {
  //width: 35%;
  padding: 1em;
  overflow: hidden;
  //max-height: 120px;
  display: none;
  border: 1px solid $valid;
  p {
    margin-bottom: 1em;
  }
}

//Ocultación del formulario y box de gracias

.the-form {
  .boxValidation {
    display: none;
  }
}

.the-form.sent {
  .boxValidation {
    display: block;
  }

  .formulario {
    display: none;
  }
}

/**************************************INICIO SECTION OPINIONES**********************************/

section.opiniones {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 1em;
  }

  div.quotes {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    div.box {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      blockquote {
        position: relative;
        width: 70%;
        padding: 1em;
        border: 1.5px solid $gray2;
        margin-bottom: 1em;
      }
      footer {
        width: 70%;
        p.lugarQuote {
          font-size: $textSmall;
        }
      }
    }
  }
}

/*

blockquote::after{
  color: $gray2;
  display:inline-block;
  rotate:90;
  position: absolute;
  content: "ᐯ";
  left:15px;
  bottom: -23px;
}

*/

/************************************************INICIO SECTION MAPA*******************************/

section.mapa {
  position: relative;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 100%;
    height: 500px;
  }
  h2 {
    margin-bottom: 1em;
  }
}

section.mapa::before {
  position: absolute;
  content: url(../images/map-marker.svg);
  bottom: 30%;
  right: 40%;
}

/***********************************INICIO FOOTER***********************************/

footer.principal {
  padding: 2em;
  div.logoFooter {
    svg {
      margin: 1em;
    }
  }
  p {
    color: $white;
    img {
      width: $text;
      fill: linear-gradient(90 $primary1 red);
    }
  }
  text-align: center;
  background-color: $gray5;
}

/***********************************MEDIA QUERYS*****************************************/

@media only screen and (orientation: portrait) {
  //Definición de tamaño de letra mobil
  body {
    h1 {
      font-size: 34px;
      line-height: 46px;
    }

    h2 {
      font-size: 29px;
      line-height: 34px;
    }
    h3 {
      font-size: 26px;
      line-height: 30px;
    }
    h4 {
      font-size: 21px;
      line-height: 24px;
    }
  }

  //Imagen de titulo

  div.imagenTitulo div.cajaTransparente {
    width: 100%;
  }

  div.imagenTitulo div.cajaTransparente div.appStores {
    margin-bottom: 1.7em;
  }

  //Section Como funciona

  section.comoFunciona {
    align-items: initial;
  }

  section.comoFunciona div.pasos {
    flex-direction: column;
    //align-items: center;
  }

  section.comoFunciona div.pasos div.box {
    margin: 1em 0;
    flex-direction: row;
    width: 100%;
    text-align: initial;
    align-items: flex-start;
  }

  section.comoFunciona div.pasos div.box div.circulo {
    margin-right: 10px;
    min-width: 45px;
  }

  section.comoFunciona div.telefonoFormulario {
    flex-direction: column;
    align-items: center;
    div.imagenTelefono {
      display: none;
      width: 100%;
    }

    div.formulario {
      width: 100%;
    }

    div.formulario form {
      h3 {
        margin-bottom: 1em;
      }
      div label {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
      }
      div input {
        margin-bottom: 2em;
      }
      div select {
        margin-bottom: 2em;
      }
    }
  }

  div.boxValidation {
    width: 100%;
    text-align: center;
  }

  section.opiniones {
    align-items: initial;
  }
  section.opiniones div.quotes {
    flex-direction: column;
  }
  section.opiniones div.quotes div.box {
    flex-direction: column;
    width: 100%;
    text-align: initial;
    align-items: flex-start;

    footer {
      margin-bottom: 2.5em;
    }
  }
}

/*PHP PAGES*/

.formularioComentario {
  label {
    display: none;
    border-radius: 1%;
    background-color: rgb(253, 253, 253);
    margin: 1em 0 0.5em 0;
  }
  input {
    padding: 0.5em;
    margin: 1em 0 0.5em 0;
    border: 1px solid $gray2;
    border-radius: 1%;
    width: 100%;
  }
  select {
    padding: 0.5em;
    margin: 1em 0 0.5em 0;
    background-color: white;
    border: 1px solid $gray2;
    border-radius: 1%;
    width: 100%;
  }
  textarea {
    padding: 0.5em;
    margin: 1em 0 0.5em 0;
    border: 1px solid $gray2;
    border-radius: 1%;
    width: 100%;
  }
  button {
    width: 100%;
    margin-bottom: 5em;
  }
}
