@charset "UTF-8";
/**************************************IMPORTS********************************/
/*Definicion de variables*/
/*Color*/
/**********************************Tamaños encabezados***********************/
h1 {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  color: #2f2e2d;
  font-size: 39px;
  line-height: 37px;
}

h3 {
  color: #2f2e2d;
  font-size: 31px;
  line-height: 40px;
}

h4 {
  font-size: 25px;
  line-height: 32px;
}

.text {
  font-size: 16px;
  line-height: 16px;
}

.textLarge {
  font-size: 20px;
  line-height: 28px;
}

.textLargeBold {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.textSmall {
  font-size: 13px;
  line-height: 20px;
}

.textSmallBold {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}

/**********************************Ajustes globales*****************************/
body {
  font-family: "Catamaran", sans-serif;
  color: #4b4948;
  font-size: 16px;
}

.appFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*********************************Empieza la pagina****************************/
.contenedorP {
  text-align: center;
  max-width: 85%;
}

/**************************************HEADER**********************************/
header img {
  margin: 2em 0;
}

div.imagenTitulo {
  background-image: url(../images/jumbo.jpg);
  background-size: cover;
}

div.imagenTitulo div.cajaTransparente {
  width: 50%;
  background-color: rgba(47, 46, 45, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.imagenTitulo div.cajaTransparente .marco {
  width: 80%;
}

div.imagenTitulo div.cajaTransparente .marco h1 {
  margin: 2em 0 0.2em 0;
  color: #ffffff;
}

div.appStores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.2em 0 6em 0;
}

/***************************************Section "Como funciona"************************************/
.circulo {
  position: relative;
  width: 45px;
  height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffce32), to(#f09000));
  background: linear-gradient(180deg, #ffce32, #f09000);
  border-radius: 50%;
  margin-bottom: 1em;
}

.circulo .numCirculo {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 15px;
  bottom: -22px;
}

section.comoFunciona {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.comoFunciona h2 {
  margin-bottom: 1em;
}

section.comoFunciona div.pasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

section.comoFunciona div.pasos div.box {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.comoFunciona div.pasos div.box h3 {
  margin-bottom: 0.5em;
}

section.comoFunciona div.pasos div.box p {
  max-width: 90%;
}

section.comoFunciona div.telefonoFormulario {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.comoFunciona div.telefonoFormulario div.formulario {
  text-align: initial;
  width: 35%;
  padding: 1.5em 1em;
}

section.comoFunciona div.telefonoFormulario div.formulario form {
  padding: 1em;
  border: 1px solid #e3e2e2;
  height: 100%;
  min-width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.comoFunciona div.telefonoFormulario div.formulario form h3 {
  font-size: 20px;
}

section.comoFunciona div.telefonoFormulario div.formulario form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.comoFunciona div.telefonoFormulario div.formulario form div label {
  margin-top: 2em;
  margin-bottom: 0.3em;
}

section.comoFunciona div.telefonoFormulario div.formulario form div input {
  padding: 0.5em 0.3em;
}

section.comoFunciona div.telefonoFormulario div.formulario form div select {
  color: #4b4948;
  background-color: #ffffff;
  padding: 0.5em 0.3em;
}

section.comoFunciona div.telefonoFormulario div.formulario form div.noFlex {
  margin-top: 1em;
  display: inline-block;
}

section.comoFunciona div.telefonoFormulario div.formulario form div.noFlex label {
  margin-left: 0.2em;
  display: inline;
}

button {
  color: #ffffff;
  font-size: 16px;
  background-color: #f9a519;
  padding: 0.7em 1.2em;
  border-radius: 5%;
  border: none;
  border-color: #f9a519;
}

.boxValidation {
  padding: 1em;
  overflow: hidden;
  display: none;
  border: 1px solid #27ae60;
}

.boxValidation p {
  margin-bottom: 1em;
}

.the-form .boxValidation {
  display: none;
}

.the-form.sent .boxValidation {
  display: block;
}

.the-form.sent .formulario {
  display: none;
}

/**************************************INICIO SECTION OPINIONES**********************************/
section.opiniones {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.opiniones h2 {
  margin-bottom: 1em;
}

section.opiniones div.quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

section.opiniones div.quotes div.box {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

section.opiniones div.quotes div.box blockquote {
  position: relative;
  width: 70%;
  padding: 1em;
  border: 1.5px solid #b9b8b7;
  margin-bottom: 1em;
}

section.opiniones div.quotes div.box footer {
  width: 70%;
}

section.opiniones div.quotes div.box footer p.lugarQuote {
  font-size: 13px;
}

/*

blockquote::after{
  color: $gray2;
  display:inline-block;
  rotate:90;
  position: absolute;
  content: "ᐯ";
  left:15px;
  bottom: -23px;
}

*/
/************************************************INICIO SECTION MAPA*******************************/
section.mapa {
  position: relative;
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.mapa div {
  width: 100%;
  height: 500px;
}

section.mapa h2 {
  margin-bottom: 1em;
}

section.mapa::before {
  position: absolute;
  content: url(../images/map-marker.svg);
  bottom: 30%;
  right: 40%;
}

/***********************************INICIO FOOTER***********************************/
footer.principal {
  padding: 2em;
  text-align: center;
  background-color: #4b4948;
}

footer.principal div.logoFooter svg {
  margin: 1em;
}

footer.principal p {
  color: #ffffff;
}

footer.principal p img {
  width: 16px;
  fill: linear-gradient(90 #ffce32 red);
}

/***********************************MEDIA QUERYS*****************************************/
@media only screen and (orientation: portrait) {
  body h1 {
    font-size: 34px;
    line-height: 46px;
  }
  body h2 {
    font-size: 29px;
    line-height: 34px;
  }
  body h3 {
    font-size: 26px;
    line-height: 30px;
  }
  body h4 {
    font-size: 21px;
    line-height: 24px;
  }
  div.imagenTitulo div.cajaTransparente {
    width: 100%;
  }
  div.imagenTitulo div.cajaTransparente div.appStores {
    margin-bottom: 1.7em;
  }
  section.comoFunciona {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  section.comoFunciona div.pasos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.comoFunciona div.pasos div.box {
    margin: 1em 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: initial;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.comoFunciona div.pasos div.box div.circulo {
    margin-right: 10px;
    min-width: 45px;
  }
  section.comoFunciona div.telefonoFormulario {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.comoFunciona div.telefonoFormulario div.imagenTelefono {
    display: none;
    width: 100%;
  }
  section.comoFunciona div.telefonoFormulario div.formulario {
    width: 100%;
  }
  section.comoFunciona div.telefonoFormulario div.formulario form h3 {
    margin-bottom: 1em;
  }
  section.comoFunciona div.telefonoFormulario div.formulario form div label {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  section.comoFunciona div.telefonoFormulario div.formulario form div input {
    margin-bottom: 2em;
  }
  section.comoFunciona div.telefonoFormulario div.formulario form div select {
    margin-bottom: 2em;
  }
  div.boxValidation {
    width: 100%;
    text-align: center;
  }
  section.opiniones {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  section.opiniones div.quotes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.opiniones div.quotes div.box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: initial;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.opiniones div.quotes div.box footer {
    margin-bottom: 2.5em;
  }
}

/*PHP PAGES*/
.formularioComentario label {
  display: none;
  border-radius: 1%;
  background-color: #fdfdfd;
  margin: 1em 0 0.5em 0;
}

.formularioComentario input {
  padding: 0.5em;
  margin: 1em 0 0.5em 0;
  border: 1px solid #b9b8b7;
  border-radius: 1%;
  width: 100%;
}

.formularioComentario select {
  padding: 0.5em;
  margin: 1em 0 0.5em 0;
  background-color: white;
  border: 1px solid #b9b8b7;
  border-radius: 1%;
  width: 100%;
}

.formularioComentario textarea {
  padding: 0.5em;
  margin: 1em 0 0.5em 0;
  border: 1px solid #b9b8b7;
  border-radius: 1%;
  width: 100%;
}

.formularioComentario button {
  width: 100%;
  margin-bottom: 5em;
}
/*# sourceMappingURL=styles.css.map */