{% extends "maleteo.html.twig" %}

{% block hero %}

<h1>Administración</h1>
<h2>Solicitudes de Demos</h2>

{% endblock %}

{% block comoFunciona %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Horario Preferido</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        {# <tr>
            <form action="">
                <td><input type="number" value="{{ solicitudEditar.id }}"></td>
                <td><input type="text" value="{{ solicitudEditar.nombre }}"></td>
                <td><input type="email" value="{{ solicitudEditar.email }}"></td>
                <td><input type="text" value="{{ solicitudEditar.horarioPreferido }}"></td>
                <td><input type="text" value="{{ solicitudEditar.ciudad }}"></td>
                <td><button type="submit">Guardar</button></td>
            </form>
        </tr> #}
        <tr>
            {{ form_start(formulario) }}
            <td>{{ form_widget(formulario.id)}}</td>
            <td>{{ form_widget(formulario.nombre)}}</td>
            <td>{{ form_widget(formulario.email)}}</td>
            <td>{{ form_widget(formulario.horarioPreferido)}}</td>
            <td>{{ form_widget(formulario.ciudad)}}</td>
            <td><button type="submit">Guardar</button></td>
            {{ form_end(formulario) }}
        </tr>
    </tbody>
</table>


{% endblock %}

{% block opiniones %}

{% endblock %}

{% block mapa %}

{% endblock %}