{% extends "maleteo.html.twig" %}

{% block hero %}

<h1>Administración</h1>
<h2>Solicitudes de Demos</h2>

{% endblock %}

{% block comoFunciona %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Lugar</th>
            <th scope="col">Comentario</th>
            <th scope="col">Guardar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{ form_start(formulario) }}
            <td>{{ form_widget(formulario.id)}}</td>
            <td>{{ form_widget(formulario.nombre)}}</td>
            <td>{{ form_widget(formulario.email)}}</td>
            <td>{{ form_widget(formulario.lugar)}}</td>
            <td>{{ form_widget(formulario.comentario)}}</td>
            <td><button type="submit">Guardar</button></td>
            {{ form_end(formulario) }}
        </tr>
    </tbody>
</table>


{% endblock %}

{% block opiniones %}

{% endblock %}

{% block mapa %}

{% endblock %}