{% extends "maleteo.html.twig" %}

{% block hero %}

<h1>Administración</h1>
<h2>Solicitudes de Demos</h2>

{% endblock %}

{% block comoFunciona %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Horario Preferido</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>

        {% for solicitud in solicitudes %}
        <tr>
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.nombre }}</td>
            <td>{{ solicitud.email }}</td>
            <td>{{ solicitud.horarioPreferido }}</td>
            <td>{{ solicitud.ciudad }}</td>
            <td><a href="/editar/solicitud/{{solicitud.id}}"">Editar</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock %}

{% block opiniones %}

<h2>Comentarios</h2>

<table class=" table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Lugar</th>
                            <th scope="col">Comentario</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
    <tbody>

        {% for comentario in comentarios %}
        <tr>
            <td>{{ comentario.id }}</td>
            <td>{{ comentario.nombre }}</td>
            <td>{{ comentario.email }}</td>
            <td>{{ comentario.lugar }}</td>
            <td>{{ comentario.comentario }}</td>
            <td><a href="/editar/comentario/{{comentario.id}}">Editar</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}

{% block mapa %}

{% endblock %}