{% extends "maleteo.html.twig" %}

{% block hero %}

<div class="alert alert-success" role="alert">
    Tu formulario se ha enviado correctamente
</div>

<div class="my-5">
    <form action="http://localhost:8080/">
        <button type="submit">Volver a la página principal</button>
    </form>

</div>

{% endblock %}

{% block comoFunciona %}

{% endblock %}

{% block opiniones %}

{% endblock %}

{% block mapa %}

{% endblock %}